*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  width: 100%;
  
}
main {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;
}

main .left, main .right {
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  flex-basis: 50%;
}
main .left {
  background-color: black;
  position: relative;
}
main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  /* user-select: none; */
}
.javascript-language{
  background-color: yellow;
  color: black;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-weight: bold;
}
main .right{
  background-color: rgb(90, 88, 88);
} 